.productDetailsContainer {
  height: 100vh;
  position: relative;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  margin: 10px 24px 0 24px;
}

.productImage {
  width: 341px;
  height: 368px;
}

.productName {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  margin-top: 15px;
  margin: 15px 20px 0 20px;
}

.ratingsContainer {
  display: flex;
  align-items: center;
  margin: 8px 20px 0 20px;
}

.productRating {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.productReviews {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.productDescription {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin: 20px 20px 0 20px;
}

.sizeHeading {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 20px 20px 0 20px;
}

.sizesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 20px 0 20px;
}

.sizeButton {
  width: 50px;
  height: 47.083px;
  padding: 12.5px;
  border-radius: 6.25px;
  border: 1.351px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-right: 10px;
}

.productSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 101px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.productPriceConatiner {
  display: flex;
  flex-direction: column;
}

.addToCartButton {
  display: flex;
  width: 191px;
  padding: 17px 20px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
