.productName {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.32px;
}

.productPrice {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.searchBarContainer {
  display: inline-flex;
  padding: 14px 109px 15px 18px;
  align-items: flex-start;
  border-radius: 10px;
  background: #f2f2f2;
}

.placeholder {
  display: flex;
}

/* @media (max-width: 500px) {

} */
